./dial_sdk/aidial_sdk-0.0.0-py3-none-any.whl
aiohttp~=3.8.4
fastapi==0.98.0
Jinja2==3.1.2
langchain==0.0.246
openai==0.28.0
pydantic==1.10.9
PyYAML~=6.0
requests==2.31.0
uvicorn==0.23.2
aiocache~=0.12.2
typing-extensions==4.7.1
wrapt==1.15.0